*.tt.cs
*.suo
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
/build/
[Bb]in/
[Oo]bj/

*.psess
*.vsp
*.vspx

*.[Rr]e[Ss]harper
_[Rr]e[Ss]harper.*
.idea
*.pyc
*.obproj.map

~*.dat
*.gui.bak
*.xunit
*.dotCover

packages